/* Stylesheet by Trever J. Bruhn 2022*/
/*
========== Global ============
*/
body {
  background-color: rgb(215, 217, 223);
  background-position: center;
  font-family: "Montserrat", sans-serif;
  color: darkslategrey;
}

.button {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  border-color: rgba(255, 255, 255, 0.7);
}

.flex-container {
  /*holds map and info pane*/
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: row;
}

footer {
  font-size: smaller;
}

footer a {
  color: darkslategrey;
  text-decoration: none;
}

footer a:hover {
  color: rgb(55, 147, 147);
  text-decoration: underline;
}

/*
  ========== Title ==========
  */
#title {
  text-align: center;
  padding: 0.35em 0em 0.35em 0em; /*top/right/bot/left */
  background-color: white;
  /* rgba(255, 255, 255, 0.8); */
  border-radius: 1em 1em 0 0;
}
#title h1 {
  margin: 0;
  font-family: "Lato", sans-serif;
  word-spacing: 0.3em;
  color: darkslategrey;
}

/* 
======== Map and Map Elements ========
*/
#map {
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border-radius: 0 0 1em 1em;
}

.label {
  color: darkslategrey;
  font-size: smaller;
  /* add halo effect */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,
    0.2em 0 0.1em white, -0.2em 0 0.1em white;
}

.burnBound {
  color: #f55a42;
  width: 30em;
}

/* 
==========info pane ==========
*/
#selectedFeatures {
  box-sizing: border-box;
  display: none;
  flex-grow: 1;
  flex-direction: column;
  height: 80vh;
  background: white;
  border-radius: 0 0 1em 0;
  align-items: center;
}

table {
  table-layout: fixed;
}

table th {
  text-align: right;
  width: 30%;
}

table td {
  text-align: left;
}

th,
td {
  border-bottom: 0.05em solid;
  padding: 0.75rem;
}

/* #address {
  height: 5em;
} */

#clearButtonDiv {
  margin: 1em;
}

#clearButton {
  width: 20em;
}

/* 
==========Counter panel ==========
*/
#counter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(3fr, auto) 7fr;
  text-align: center;
  font-weight: bolder;
  color: white;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.countBox:not(.ns) {
  /*all the countboxes except the first one*/
  border-left: 0.1rem solid white;
}

.count:hover {
  outline: 0.1em dashed white;
  outline-offset: -0.15em;
}

.head.ns {
  background-color: rgb(255, 170, 0);
}
.count.ns {
  background-color: rgba(255, 170, 0, 0.5);
}

.head.ip {
  background-color: rgb(115, 178, 255);
}
.count.ip {
  background-color: rgba(115, 178, 255, 0.5);
}

.head.ss {
  background-color: rgb(0, 168, 132);
}
.count.ss {
  background-color: rgba(0, 168, 132, 0.5);
}

.head.as {
  background-color: rgb(76, 230, 0);
}
.count.as {
  background-color: rgba(76, 230, 0, 0.5);
}

.head.sd {
  background-color: #bc3df2;
}

.count.sd {
  background-image: radial-gradient(#bc3df2 20%, rgba(0, 0, 0, 0) 20%);
  background-position: 0 0;
  background-size: 12px 12px;
  text-shadow: 0.1em 0 0.4em #bc3df2, -0.1em 0 0.4em #bc3df2;
}

.temp {
  background-color: darkgray;
}

.count.temp {
  /*make stripped lines*/
  background: repeating-linear-gradient(
    -45deg,
    /*start with */ black 0px,
    /*end at */ black 2px,
    /*start with */ rgba(0, 0, 0, 0) 2px,
    /*end at */ rgba(0, 0, 0, 0) 10px
  );
  text-shadow: 0.1em 0 0.4em black, -0.1em 0 0.4em black;
}
.filterIcon {
  stroke: #ffffff;
  fill: #ffffff;
  opacity: 0.3;
  flex: 1;
}
/* force centering of count effectively adds third container to each count box*/
.count::after {
  content: "";
  flex: 1;
}
