/* Stylesheet by Trever J. Bruhn 2022*/
/*
========== Global ============
*/
body {
  background-color: rgb(215, 217, 223);
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.button {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  border-color: rgba(255, 255, 255, 0.7);
}

.flex-container {
  /*holds map and info pane*/
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: row;
}

/*
  ========== Title ==========
  */
#title {
  text-align: center;
  padding: 0.35em 0em 0.35em 0em; /*top/right/bot/left */
  background-color: rgba(255, 255, 255, 0.8);
}
#title h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategrey;
}

/* 
======== Map and Map Elements ========
*/
#map {
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border-radius: 0 0 1em 1em;
}

/* 
==========info pane ==========
*/
#selectedFeatures {
  box-sizing: border-box;
  display: none;
  flex-grow: 1;
  flex-direction: column;
  height: 80vh;
  background: white;
  border-radius: 0 0 1em 0;
  align-items: center;
}

table {
  table-layout: fixed;
}

table th {
  text-align: right;
  width: 30%;
}

table td {
  text-align: left;
}

th,
td {
  border-bottom: 0.05em solid;
  padding: 0.75rem;
}

#address {
  height: 5em;
}

#clearButtonDiv {
  margin: 1em;
}

#clearButton {
  width: 20em;
}

/* 
==========Counter panel ==========
*/
#counter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4em;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: white;
}
#headrow {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  font-size: small;
}

#countrow {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  font-size: x-large;
}

.countBox {
  flex: 1 1 0;
}

.countBox:not(.ns) {
  /*all the countboxes except the first one*/
  border-left: 0.1rem solid white;
}

.count:hover {
  outline: 0.1em dashed white;
  outline-offset: -0.15em;
}

.head.ns {
  background-color: rgb(255, 170, 0);
}
.count.ns {
  background-color: rgba(255, 170, 0, 0.5);
}

.head.ip {
  background-color: rgb(115, 178, 255);
}
.count.ip {
  background-color: rgba(115, 178, 255, 0.5);
}

.head.ss {
  background-color: rgb(0, 168, 132);
}
.count.ss {
  background-color: rgba(0, 168, 132, 0.5);
}

.head.as {
  background-color: rgb(76, 230, 0);
}
.count.as {
  background-color: rgba(76, 230, 0, 0.5);
}

.head.sd {
  background-color: #bc3df2;
}

#sold {
  background-image: radial-gradient(#bc3df2 20%, rgba(0, 0, 0, 0) 20%);
  background-position: 0 0;
  background-size: 12px 12px;
  text-shadow: 0.1em 0 0.4em #bc3df2, -0.1em 0 0.4em #bc3df2;
}

.temp {
  background-color: darkgray;
}

#tempHouse {
  /*make stripped lines*/
  background: repeating-linear-gradient(
    -45deg,
    /*start with */ black 0px,
    /*end at */ black 2px,
    /*start with */ rgba(0, 0, 0, 0) 2px,
    /*end at */ rgba(0, 0, 0, 0) 10px
  );
  text-shadow: 0.1em 0 0.4em black, -0.1em 0 0.4em black;
}
